<% content_for :top_content do %>
  <div id="home">
    <div class="carousel slide" data-ride="carousel" id="carouselHome">
      <ol class="carousel-indicators">
        <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
        <li data-target="#carouselHome" data-slide-to="1"></li>
        <li data-target="#carouselHome" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://3.bp.blogspot.com/-se7uQ7jHwJ4/Vn66YctFKSI/AAAAAAAAaZ8/SjG4-Tm0cF0/s1600/nuevo-edificio-facultad-enfermeria-unal-cub-unb.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <p><%= t('.carrousel_caption_one') %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://c2.staticflickr.com/8/7545/15796958558_b47956ffb8_b.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <p><%= t('.carrousel_caption_two') %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://www.arquitectosbogota.co/images/gallery/edificio-ciencia-y-tecnologia-universidad-nacional-de-colombia4.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <p><%= t('.carrousel_caption_three') %></p>
            </div>
          </div>
        </div>

      </div>
      <a href="#carouselHome" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a href="#carouselHome" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>

    </div>
  </div>
<% end %>

<div id = "about">
  <hr class="divider">
  <br/>
  <div class="row" >
    <div class="col-xs-12">
      <h1 class="pull-left"><%= t('.about_us') %></h1>
    </div>

    <div class="col-xs-12 col-lg-6 col-sm-6">
      <h3 class="aboutUS">Andres Gutierrez</h3>

      <img src="<%= asset_path('thumb_IMG_0014_1024.jpg') %>" class="aboutUS img-circle center-block" alt="" width="150" height="150">
      <p class="center-block aboutUS">
        <%= t('.andres_about').html_safe %>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-2 col-sm-2 col-sm-offset-4 aboutUS">
          <a href="https://www.facebook.com/andres.rene.3"  target="_blank"><i class="fa fa-facebook fa-4x"  aria-hiden="true"></i></a>
        </div>
        <div class="col-xs-5 col-sm-2 aboutUS">
          <a href="https://twitter.com/agutierrezt9410" target="_blank"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 col-sm-6">
      <h3 class="aboutUS">Alejandro Arias</h3>
      <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="" class="aboutUS img-circle center-block" width="150" height="150">
      <p class="center-block aboutUS">
        <%= t('.alejandro_about').html_safe %>
      </p>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-2 col-sm-2 col-sm-offset-4  aboutUS">
          <a href="https://www.facebook.com/andres.rene.3" target="_blank"><i class="fa fa-facebook fa-4x" aria-hiden="true"></i></a>
        </div>
        <div class="col-xs-5 col-sm-2 aboutUS">
          <a href="https://twitter.com/agutierrezt9410" target="_blank"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

<div id = "contact">
  <hr class="divider">
  <br/>
  <div class="row">

    <form controller="page" action="contactUS" class="form-signin" method="post" >
      <h1><%= t('.contact_us') %></h1>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <label for="emailField" class="sr-only">Email</label>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
        <input type="email" id="emailField", name="email" class="form-control" placeholder="<%= t('.enter_email')%>" required="true" >
      </div>
      <label for="nameField" class="sr-only">Name</label>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
        <input type="text" id="nameField" name="name" class="form-control" placeholder="<%= t('.enter_name')%>" required="true">

      </div>
      <label for="commentField" class="sr-only">Comment</label>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-commenting-o fa-fw"></i></span>
        <textarea class="form-control" name="comment" rows="6" id="commentField" required="true" placeholder="<%= t('.enter_comments')%>"></textarea>

      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block"><%= t('.send_comments')%></button>
    </form>
    <br/>
    <br/>

  </div>
</div
