<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade-in" id="alet-app" role="alert">
      <button type="button" class="close" aria-label="Close" data-dismiss="alert">
        <span>&times;</span>
      </button>
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :for=>"titleField" %>
    <%= f.text_field :title, :id=>"titleField", :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, :for=>"descriptionField" %>
    <%= f.text_area :description, rows: "10", :id=>"descriptionField", :class=>"form-control" %>
  </div>
  <div class="form-group">
    <label for="tagField">Tags</label>
    <input type="text", name="tags", id="tagField" class="form-control", required="true", autocomplete="off">
    <input type="hidden" name="tagsValues" id="tagsValues" value="" required="true">
    <div id="tagSuggest">
      <%= render 'tagSuggest' %>
    </div>
  </div>

  <%= f.submit t('.create'), :class=>"btn btn-success"%>
<% end %>
