<div class="page-header">
  <h2>Details</h2>
</div>
<div class="row">
  <% if !@post.tags.empty? %>
    <div class="col-xs-12">
      <h2>Tags</h2>
    </div>
    <% @post.tags.each do |tag| %>
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2">
        <h3><span class="label label-default"><%= link_to tag.title, tag_path(tag) %></span></h3>
      </div>
    <% end %>
  <% end %>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @post.title %>
    </h3>
  </div>
  <div class="panel-body">
    <%= @post.description.html_safe %>
    <br>
    <br>
    <div id="postImages">
      <%= render 'imagesPost' %>
    </div>
  </div>
  <div class="panel-footer">
    created by <%= @post.user.username %>
  </div>
</div>
<% if user_signed_in? %>
  <% if @post.user ==  current_user %>
    <%= link_to 'Edit', edit_post_path(@post), :class=>"btn btn-success" %>
  <% end %>
<% end %>
<%= link_to 'Back', posts_path, :class=>"btn btn-default" %>

<div class="modal fade in" id="modalDropzone">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add Image</h3>
      </div>
      <div class="modal-body">
        <form controller="/posts" method="post" action="addImage" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <input name="postID" type="hidden" value="<%= @post.id %>" />
          <div class="fallback">
            <input name="media" type="file"  />
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<script>
Dropzone.autoDiscover = false;
$(function(){
  var mediaDropzone = new Dropzone("#media-dropzone");
  Dropzone.options.mediaDropzone = {
    success: function (response) {
                eval(response.xhr.response);
            }
  };
  mediaDropzone.options.acceptedFiles = ".jpeg,.jpg,.png,.gif";
  mediaDropzone.options.maxFiles = 1;
  mediaDropzone.options.parallelUploads = 1;
  mediaDropzone.on("maxfilesexceeded", function(file) {
        mediaDropzone.removeAllFiles();
        mediaDropzone.addFile(file);
  });
  mediaDropzone.on("complete", function(file) {
    var response = JSON.parse(file.xhr.response);
    var _this = this;
    if (_this.getUploadingFiles().length === 0 && _this.getQueuedFiles().length === 0) {
      setTimeout(function(){
        var rejectedFiles = _this.getRejectedFiles();
        if (rejectedFiles.length != 0) {
          alert("This files is not accepted")
        }
        $("#modalDropzone").modal('hide')
        mediaDropzone.removeFile(file)
        window.location.href = ("/posts/"+response)
      },2000);
    }

  });

});
</script>
