<div class="page-header">
  <h2><%= t('.images') %></h2>
</div>

<% if !@images.empty? %>
  <% @images.each do |image| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <a href="<%=image.image.url%>" data-lightbox="images" data-title="
        <%if image.comment %>
          Comment <%=image.comment.id %>
        <% end %>
        <% if image.post %>
          Post <%=image.post.id %>
        <% end %>
        ">
        <img src="<%= image.image.url %>" class="img-thumbnail img-responsive" width="200" height="200" >
      </a>
      <div class="row">
        <div class="col-xs-12">
          <%=link_to t('.show'), image, :class=>"btn btn-success"%>
          <%=link_to t('.destroy'), image,:class=>"btn btn-danger", method: :delete ,data: {confirm: 'Are your sure?'} %>
        </div>
      </div>
    </div>

  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'paginate' %>
    </div>
  </div>
<% end %>
