<div class="page-header">
  <h2><%= t('.details')%></h2>
</div>
<img src="<%= @image.image.url %>" class="img-thumbnail img-responsive" width="300" height="300" >
<br>
<br>
<% if @image.post %>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><h3>Post id</h3></td>
          <td><h3><%= @image.post.id %></h3></td>
        </tr>
        <tr>
          <td><h3><%= t('.post_title')%></h3></td>
          <td><h3><%=@image.post.title %></h3></td>
        </tr>
        <tr>
          <td><h3><%= t('.created_by')%></h3></td>
          <td><h3><%=@image.post.user.username %></h3></td>
        </tr>
      </tbody>
    </table>
  </div>

<% end %>
<% if @image.comment %>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><h3>Comment id</h3></td>
          <td><h3><%= @image.comment.id %></h3></td>
        </tr>

        <tr>
          <td><h3><%= t('.created_by')%></h3></td>
          <td><h3><%=@image.comment.user.username %></h3></td>
        </tr>
      </tbody>
    </table>
  </div>

<% end %>
<div class="row">
  <div class="col-xs-12">
    <%= link_to t('.back'), images_path, :class=>"btn btn-default" %>
  </div>
</div>
