<!DOCTYPE html>
<html>
  <head>
    <title>UnOverflow</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body>
    <%= render 'layouts/menu' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible fade-in"  id="alert-app" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield :top_content %>
    <div class="container">
      <%= yield %>
      <br>
      <br>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-8 col-sm-9 col-lg-10">
              <p class=>&copy; Unal Andres & Alejandro</p>
            </div>
            <div class="col-xs-4 col-sm-3 col-lg-2">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-4">
                  <img class="img-responsive img-rounded" width="40", height="40" src=<%=asset_path "colombia.png" %> />
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-4">
                  <img class="img-responsive img-rounded" width="40", height="40" src=<%=asset_path "unitedKingdom.png" %> />
                </div>
              </div>

            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="modal fade in" id="modalLogin">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Log in</h3>
          </div>
          <div class="modal-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, :for=>"emailField" %><br />
                <%= f.email_field :email, autofocus: true, :class=>"form-control", :id=>"emailField" %>
              </div>

              <div class="form-group">
                <%= f.label :password, :for=>"passwordField" %><br />
                <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :id=>"passwordField" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field form-group">
                  <div class="checkbox-inline">
                    <%= f.check_box :remember_me, :id=>"checkField" %>
                    <%= f.label :remember_me, :for=>"checkField" %>
                  </div>
                </div>
              <% end -%>
          </div>
          <div class="modal-footer">
            <%= f.submit "Log in", :class=>"btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
